**
!requirements.txt
!requirements-public.txt
!requirements-hosted.txt
!requirements-export.txt
!scripts/
!scripts/export_hosted_encoder.py
!gunicorn.conf.py
!LICENSE
!foodvision/
!foodvision/*.py
!web/
!web/index.html
!web/app.js
!web/style.css
!data/
!data/*.json
!data/features.npz
!models/
!models/demo_model.*
!examples/
!examples/**
!reports/
!reports/benchmark.json
!docs/
!docs/DATA.md
